{{user-identity-verify status=model.validating_status error_message=model.validating_error_message}}

<div class="control-groups preferences-identity">
  <span><img src='/images/verification-id-card.png' /></span>
  {{#link-to 'preferences.verify-id-card'}}
    {{i18n 'user.verify_id_card_link'}}
  {{/link-to}}
</div>

<div class="control-groups preferences-identity">
  <span><img src='/images/verification-passport.png' /></span>
  {{#link-to 'preferences.verify-passport'}}
    {{i18n 'user.verify_passport_link'}}
  {{/link-to}}
</div>
